@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroyextrabold.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroylight.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/opensanslight.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/opensansregular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* .visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin: 0;
  padding: 0;

  min-width: 1200px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: white;
}

a {
  text-decoration: none;
}

a.disabled {
  pointer-events: none !important; 
  cursor: default !important;
  color: #888 !important;
}

/* img {
  max-width: 100%;
  height: auto;
} */

.btn {
  max-width: 500px;
  /* width: 200px; */
  /* min-height: 40px; */
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .2em;
  margin-right: -0.2em;
  color: black;
  text-transform: uppercase;

  /* vertical-align: middle; */
  text-align: center;

  display: inline-block;

  box-sizing: border-box;

  word-wrap: break-word;

  padding: 9px 5px;
  background-color: green;
  opacity: 0.6;

  border: none;
  outline: none;

  cursor: default;

  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  min-height: 8px;
  transform: translateX(-50%) rotate(90deg);
  /* margin-top: -4px; */
  background-color:  #f0c52e;
  z-index: -1;
  transition: width;
  transition-duration: 1000ms;
  box-sizing: border-box;
}

.btn:hover::before {
  width: 100%;
  /* padding-top: 1.2em; 
  padding-bottom: 1.2em; */
}