@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroyextrabold.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroylight.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/opensanslight.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/opensansregular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin: 0;
  padding: 0;

  min-width: 1200px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: white;
}

a {
  /* font: inherit; */
  color: inherit;
  text-decoration: none;
}

a:not([href]) {
  cursor: default;
}

a.disabled {
  pointer-events: none !important; 
  cursor: default !important;
  color: #888 !important;
}

/* img {
  max-width: 100%;
  height: auto;
} */

.container {
  width: 1160px;
  /* padding-left: 20px;
  padding-right: 20px; */
  margin: 0 auto;
  box-sizing: border-box;
}

.logo {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  color: black;
  text-transform: uppercase;
  cursor: default;
}

.logo:hover,
.logo:focus {
  opacity: .6;
}

.logo:active {
  opacity: .3;
}

.btn {
  min-width: 160px;
  max-width: 100%;
  min-height: 40px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .2em;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-align: center;
  padding: 9px 5px; /* 5px */
  display: inline-block;
  box-sizing: border-box;
  word-wrap: break-word;
  border: none;
  outline: none;
  cursor: default;
  position: relative;
  background-color: transparent;
}

.btn::first-letter {
  margin-left: .2em;
}

.btn::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  height: 8px;
  transform: translateY(-50%);
  background-color: #f0c52e;
  z-index: -1;
  transition: height;
  transition-duration: .3s;
  box-sizing: border-box;
}

.btn:active {
  color: rgba(0, 0, 0, .3);
}

.btn:hover::before,
.btn:focus::before {
  height: 100%;
}

.header {
  min-height: 299px;
  margin-top: 40px;
  background-color: #f7e296;
  position: relative;
  padding-top: 36px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
}

.header__logo {
  position: absolute;
  top: -24px;
  left: 58px;
}

.additional-navigation {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.search {
  width: 438px;
  min-width: 330px;
  max-height: 44px;
  display: flex;
  font-size: 0;
  position: relative;
  align-items: flex-start;
  margin-right: 20px;
}

.search__input {
  width: 80%;
  font: inherit;
  font-size: 15px;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  outline: none;
  padding: 7px 15px;
  padding-left: 40px;
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'%3E%3Cpath d='M15.7,14.3l-3.104-3.104C13.473,10.023,14,8.576,14,7c0-3.866-3.134-7-7-7S0,3.134,0,7s3.134,7,7,7 c1.576,0,3.023-0.527,4.193-1.404L14.3,15.7c0.185,0.184,0.38,0.3,0.7,0.3c0.553,0,1-0.447,1-1C16,14.781,15.945,14.546,15.7,14.3z M2,7c0-2.762,2.238-5,5-5s5,2.238,5,5s-2.238,5-5,5S2,9.762,2,7z'/%3E%3C/svg%3E%0A") 3px 15px no-repeat;
}

/* placeholder Safari/Chrome */
.search__input::-webkit-input-placeholder {
  color: black;
  opacity: .3;
}
.search__input:hover::-webkit-input-placeholder {
  opacity: .6;
}
.search__input:focus::-webkit-input-placeholder {
  opacity: 1;
}

/* placeholder Firefox */
.search__input::-moz-placeholder {
  color: black;
  opacity: .3;
}
.search__input:hover::-moz-placeholder {
  opacity: .6;
}
.search__input:focus::-moz-placeholder {
  opacity: 1;
}

.search__input:focus ~ .underscore {
  width: 100%;
  visibility: visible;
}

.search__input:focus ~ .search__btn {
  visibility: visible;
}

.search__btn {
  font: inherit;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid black;
  padding: 5px 20px;
  box-sizing: border-box;
  transition: background-color, color;
  transition-duration: 150ms;
  outline: none;
  visibility: hidden;
}

.underscore {
  position: absolute;
  width: 0;
  height: 2px;
  background-color: black;
  bottom: 0;
  right: 0;
  transition: width;
  transition-duration: 300ms;
  visibility: hidden;
}

.search__btn:hover ~ .underscore,
.search__btn:focus ~ .underscore,
.search__btn:active ~ .underscore  {
  width: 100%;
  visibility: visible;
}

.search__btn:hover,
.search__btn:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgb(0, 0, 0);
  visibility: visible;
}

.search__btn:active {
  color: rgba(255, 255, 255, .3);
  background-color: rgb(0, 0, 0);
}

.user-navigation {
  min-width: 500px;
  max-width: 700px;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.login-block,
.other-block {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.login-block {
  margin-right: -20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.login-block > .user-navigation__item {
  margin-right: 20px;
}

.user-navigation__item a {
  color: black;
  font-weight: normal;
  padding-left: 20px;
  position: relative;
  display: inline-block;
}

.user-navigation__item_login a {
  max-width: 333px;
  padding-left: 26px;
}

.other-block {
  width: 213px;
  justify-content: space-between;
  margin-left: 60px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.user-navigation__item_exit > a {
  padding: 0;
  opacity: .3;
}

.user-navigation__item svg {
  position: absolute;
  top: 9px;
  left: 0px;
}

.user-navigation__item a:hover,
.user-navigation__item a:focus {
  opacity: .6;
}

.user-navigation__item a:active {
  opacity: .3;
}

.main-navigation__list {
  margin: 0;
  margin-left: -35px;
  padding: 0;
  list-style: none;
  padding-top: 32px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main-navigation__item {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  color: black;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-left: 35px;
}

.main-navigation__item:nth-child(4) {
  margin-left: 108px;
  margin-right: -.2em;
}

.main-navigation__item > a:hover,
.main-navigation__item > a:focus,
.menu-catalog__item > a:hover,
.menu-catalog__item > a:focus {
  color: rgba(0, 0, 0, .6);
}

.main-navigation__item > a:active,
.menu-catalog__item > a:active {
  color: rgba(0, 0, 0, .3);
}

.menu-catalog {
  min-width: 225px;
  margin-right: auto;
  padding-right: 25px;
  position: relative;
}

.menu-catalog::before,
.menu-catalog::after {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #b8a974;
  position: absolute;
  right: 4px;
  top: 11px;
}

.menu-catalog::after {
  transform: rotate(90deg);
}

.menu-catalog:hover > .menu-catalog__list {
  visibility: visible;
  /* display: flex; */
}

.menu-catalog__list {
  width: 680px;
  min-height: 141px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;
  font-size: 15px;
  line-height: 36px;
  color: black;
  padding-top: 22px;
  background-color: #f7e296;
  position: absolute;
  display: flex;

  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  z-index: 5;

  /* display: none; */
  visibility: hidden;
}

.menu-catalog__list::before {
  content: "";
  width: 1160px;;
  height: 100%;
  left: -60px;
  top: 0;
  background-color: #f7e296;
  position: absolute;
  z-index:-1;
}

.menu-catalog__item {
  width: 200px;
  margin-right: 40px;
  word-wrap: break-word;
}

.menu-catalog__item:nth-child(3n+2) {
  width: 160px;
}

.menu-catalog__item:last-child {
  width: 100%;
}

/* Slider */

.slider {
  position: relative;
  top: -111px;
  counter-reset: countSlide;
}

.slider-controls {
  min-width: 100px;
  max-width: 250px;
  min-height: 20px;
  position: absolute;
  top: 325px;
  right: 61px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slider-controls__item {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 21px;
  margin-bottom: 5px;
  position: relative;
}

.slider-controls__item_active::before {
  content: "";
  width: 3px;
  height: 3px;
  border: 1px solid black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.slide-list {
  min-height: 520px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-list__item {
  display: flex;
  top: 0;
  position: absolute;
  visibility: hidden;
}

.slide-list__item_active {
  visibility: visible;
  position: static;
}

.slide-wrapper {
  max-width: 500px;
  padding-top: 79px;
  padding-right: 60px;
  margin-left: 40px;
  position: relative;
}

.slide-wrapper::before {
  content: "";
  width: 100px;
  height: 7px;
  top: 37px;
  background-color: white;
  position: absolute;
}

.slide-wrapper::after {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 900;
  font-size: 179.2px;
  line-height: 178.2px;
  color: white;
  counter-increment: countSlide;
  content: counter(countSlide, decimal-leading-zero);
  top: -13px;
  right: 48px;
  position: absolute;
}

.slide-list__item-title {
  width: 500px;
  margin-bottom: 19px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 56px;
  color: black;
  display: block;
}

.slide-list__item-text {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  width: 480px;
}

.slide-list__item-btn {
  width: 220px;
  margin-bottom: 43px;
}

.properties-wrapper {
  max-width: 100%;
  overflow: auto;
}

.properties {
  max-width: 500px;
  height: 93px;
  text-align: left;
  border-collapse: collapse;
  word-wrap:  break-word;
}

.descriptions__item {
  padding: 0;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  color: black;
}

.property {
  vertical-align: top;
}

.property__item {
  padding-right: 80px;
  font-size: 13px;
  line-height: 20px;
}

/* end slider */


